{% extends 'layouts/admin_layout.html.twig' %}

{% block title %}{{ parent() }} - Admin{% endblock %}

{% block body %}
    <h1>Les articles</h1>
    {% if not session['flash_messages']['error'] is empty %}
        <div class="alert alert-danger" role="alert">
            {{ session['flash_messages']['error'] }}
        </div>
    {% elseif not session['flash_messages']['success'] is empty %}
        <div class="alert alert-success" role="alert">
            {{ session['flash_messages']['success'] }}
        </div>
    {% endif %}

{#    {{ dump(posts) }}#}
    <a href="/secadmin/post-create" class="btn btn-primary">Ajouter un article</a>
    <table class="table table-striped table-hover">
        <thead>
            <th>#</th>
            <th>Titre</th>
            <th>Publié le</th>
            <th>Par</th>
            <th>Mis a jour le</th>
            <th>Actions</th>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.createdAt|date("d/m/Y") }}</td>
                <td>{{ post.idUser }}</td>
                <td>{{ post.updatedAt|date("d/m/Y") }}</td>
                <td>
                    <a href="/secadmin/{{ post.id }}/post-update" class="btn btn-warning">Modifier</a>
                    <form action="/secadmin/{{ post.id }}/post-remove" method="post" class="d-inline">
                        <input type="hidden" name="token" value="{{ session['token'] }}"/>
                        <button type="submit" name="delete" class="btn btn-danger">Supprimer</button>
                    </form>
{#                    <a href="/secadmin/{{ post.id }}/post-remove" class="btn btn-danger">Supprimer</a>#}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}




{#                    <form action="/secadmin/{{ post.id }}/post-update" method="post">#}
{#                        <button type="submit" name="modify" class="btn btn-warning">Modifier</button>#}
{#                    </form>#}
{#                    <form action="/secadmin/{{ post.id }}/post-remove" method="post" class="d-inline">#}
{#                        <button type="submit" name="delete" class="btn btn-danger">Supprimer</button>#}
{#                    </form>#}