{% extends 'layouts/admin_layout.html.twig' %}

{% block title %} {{ parent() }} - Ajout d'un Article{% endblock %}

{% block body %}
    <h1>Ajouter un article</h1>

    <form action="" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Titre de l'article</label>
            <input type="text" class="form-control {{ postForm.hasError('title') ? ' is-invalid' : '' }}" id="title" name="title">
            <div id="validationFirstname" class="invalid-feedback">
                {{ postForm.getFirstError('title') }}
            </div>
        </div>

        <div class="mb-3">
            <label for="content" class="form-label">Contenu</label>
            <textarea class="form-control {{ postForm.hasError('content') ? ' is-invalid' : '' }}" id="content" name="content" rows="10"></textarea>
            <div id="validationFirstname" class="invalid-feedback">
                {{ postForm.getFirstError('content') }}
            </div>
        </div>

        <div class="mb-3">
            <label for="avatar" class="form-label">Image</label>
            <input type="file" class="form-control" id="image" name="image">
        </div>
        <input type="hidden" name="token" value="{{ session['token'] }}"/>
        <br/>
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>

{% endblock %}
