{% extends 'layouts/main.html.twig' %}

{% block title %} {{ parent() }} - Accueil{% endblock %}

{% block body %}
    <!-- Start Hero Area -->
    <section class="hero-area index4">
        <div class="hero-inner">
            <div class="container">
                <div class="row ">
                    <div class="col-lg-6 co-12">
                        <div class="row">
                            {% if not session['flash_messages']['error'] is empty %}
                                <div class="alert alert-danger" role="alert">
                                    {{ session['flash_messages']['error'] }}
                                </div>
                            {% elseif not session['flash_messages']['success'] is empty %}
                                <div class="alert alert-success" role="alert">
                                    {{ session['flash_messages']['success'] }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="home-slider">
                            <div class="hero-text">
                                <h5 class="small wow fadeInUp" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">Hello There...</h5>
                                <h1 class="wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;"><span>Je suis</span> Garry Host</h1>
                                <ul class="wow fadeInUp" data-wow-delay=".7s" style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;">
                                    <li>Developpeur Backend</li>
                                    <li>PHP</li>
                                    <li>Symfony</li>
                                </ul>
                                <p class="wow fadeInUp" data-wow-delay=".9s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeInUp;">Lorem Ipsum is simply dummy text of the printing and typesetting <br> industry. Lorem Ipsum has been the industry's standard
                                    <br>dummy text ever since.</p>
                                <div class="button wow fadeInUp" data-wow-delay="1.1s" style="visibility: visible; animation-delay: 1.1s; animation-name: fadeInUp;">
                                    <a href="#about-me" class="btn">Mon CV</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="personal-image wow fadeInRight" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
                            <img src="../images/hero/hero.png" alt="#">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--/ End Hero Area -->

    <!-- Start Service Area -->
    <section class="services section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title align-left">
                        <span class="wow fadeInDown" data-wow-delay=".2s">Mes Competences</span>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">Services</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">There are many variations of passages of Lorem
                            Ipsum available, but the majority have suffered alteration in some form.</p>
                    </div>
                </div>
            </div>
            <div class="single-head">
                <img class="service-patern wow fadeInLeft" data-wow-delay=".5s"
                     src="../images/service/service-patern.png" alt="#">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-service wow fadeInUp" data-wow-delay=".2s">
                            <h3><a href="service-single.html">Discover, Explore the Product</a></h3>
                            <div class="icon">
                                <i class="lni lni-microscope"></i>
                            </div>
                            <p>Discover, Explore & Understanding The Product</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-service wow fadeInUp" data-wow-delay=".4s">
                            <h3><a href="service-single.html">Art Direction & Brand Strategy</a></h3>
                            <div class="icon">
                                <i class="lni lni-blackboard"></i>
                            </div>
                            <p>Art Direction & Brand Communication</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-service wow fadeInUp" data-wow-delay=".6s">
                            <h3><a href="service-single.html">Product UX, Design & Development‎‎</a></h3>
                            <div class="icon">
                                <i class="lni lni-ux"></i>
                            </div>
                            <p>Digital Product UX, Design & Development</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-service wow fadeInUp" data-wow-delay=".8s">
                            <h3><a href="service-single.html">Marketing Strategy & SEO Campaigns</a></h3>
                            <div class="icon">
                                <i class="lni lni-graph"></i>
                            </div>
                            <p>Marketing Strategy & SEO Campaigns</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /End Services Area -->
    <!-- About Me Section -->
    <section id="about-me" class="about-us index-4 section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="about-left">
                        <div class="section-title align-left">
                            <span class="wow fadeInDown" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">Mon Histoire</span>
                            <h2 class="wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">A Propos de Moi</h2>
                            <p class="wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">Je suis un passioné d'informatique sous toutes ses formes. <br /> Developpement, Backend, Reseau, Systeme, Securité des SI.</p>
                        </div>
                        <div class="about-tab wow fadeInUp" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">

                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#t-tab1" role="tab" aria-selected="true">Moi</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#t-tab2" role="tab" aria-selected="false">Experience</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#t-tab3" role="tab" aria-selected="false">Formation</a></li>
                            </ul>

                            <div class="tab-content" id="myTabContent">

                                <div class="tab-pane fade active show" id="t-tab1" role="tabpanel">
                                    <div class="tab-content">
                                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla .Nemo en ipsam voluptatem quia voluptas sit asper.</p>
                                        <div class="row">
                                            <div class="col-lg-6 col-12">
                                                <ul>
                                                    <li><span>Nom : </span>Gary Host</li>
                                                    <li><span>Age : </span>30 Ans</li>
                                                    <li><span>Nationality :</span>American</li>
                                                    <li><span>Freelance :</span> Available</li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-6 col-12">
                                                <ul>
                                                    <li><span>Address :</span> New York</li>
                                                    <li><span>Phone :</span>+21621184010</li>
                                                    <li><span>Email : </span>you@mail.com</li>
                                                    <li><span>Skype : </span>steve.milner</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="tab-pane fade" id="t-tab2" role="tabpanel">
                                    <div class="tab-content">
                                        <h3>UI/UX Designer <span> 2015 - 2017, Google INC | New York</span></h3>
                                        <p>Faucibus sed tristique fames sed aliquet ultricies eget viverra arcu vitae faucibus diam consequat.</p>
                                        <h3>Web Designer <span> 2017 - 2018, Facebook INC | New York</span></h3>
                                        <p>Faucibus sed tristique fames sed aliquet ultricies eget viverra arcu vitae faucibus diam consequat.</p>
                                    </div>
                                </div>


                                <div class="tab-pane fade" id="t-tab3" role="tabpanel">
                                    <div class="tab-content">
                                        <h3>Stanford University <span> 2016 - 2017, Specialization Course | New
York</span></h3>
                                        <p>Faucibus sed tristique fames sed aliquet ultricies eget viverra arcu vitae faucibus diam consequat.</p>
                                        <h3>Stanford University <span> 2017 - 2020, Bachelor Degree | New York</span>
                                        </h3>
                                        <p>Faucibus sed tristique fames sed aliquet ultricies eget viverra arcu vitae faucibus diam consequat, Molestie, a laoreet urna tempor vivamus vel gravida augue, quis imperdiet sem etiam sedio</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="about-right wow fadeInRight" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
                        <img src="../images/about/about.png" alt="#">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End of About Me Section -->

    <!-- Start Contact Area -->
    <section id="contact-us" class="contact-us section">
        <div class="container">
            <div class="contact-head wow fadeInUp" data-wow-delay=".4s">
                <div class="row">
                    <div class="col-lg-5 col-12">
                        <div class="single-head">
                            <div class="contant-inner-title">
                                <h4>Informations de Contact</h4>
                                <p>Business consulting excepteur sint occaecat cupidatat consulting non proident.</p>
                            </div>
                            <div class="single-info">
                                <i class="lni lni-phone"></i>
                                <ul>
                                    <li>0611223344</li>
                                </ul>
                            </div>
                            <div class="single-info">
                                <i class="lni lni-envelope"></i>
                                <ul>
                                    <li><a href="mailto:info@yourwebsite.com">exemple@monsite.com</a></li>
                                </ul>
                            </div>
                            <div class="single-info">
                                <i class="lni lni-map"></i>
                                <ul>
                                    <li>09, rue de Paris 75000 Paris</li>
                                </ul>
                            </div>
                            <div class="contact-social">
                                <h5>Ou me trouver</h5>
                                <ul>
                                    <li>
                                        <a href="#">
                                            <span class="icon-1"><i class="lni lni-twitter-original"></i></span>
                                            <span class="icon-2"><i class="lni lni-twitter-original"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="icon-1"><i class="lni lni-linkedin-original"></i></span>
                                            <span class="icon-2"><i class="lni lni-linkedin-original"></i></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-12">
                        <div class="form-main">
                            <form class="form" method="post" action="/contact">
                                <div class="row">
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                            <input name="name" class="{{ contactForm.hasError('name') ? ' is-invalid' : '' }}" type="text" placeholder="Nom">
                                            <div id="validationServerUsernameFeedback" class="invalid-feedback">
                                                {{ contactForm.getFirstError('name') }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group">
                                            <input name="email" class="{{ contactForm.hasError('email') ? ' is-invalid' : '' }}" type="email" placeholder="Email">
                                            <div id="validationServerUsernameFeedback" class="invalid-feedback">
                                                {{ contactForm.getFirstError('email') }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <input name="subject" type="text" placeholder="Sujet">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group message">
                                            <textarea name="message" class="{{ contactForm.hasError('message') ? ' is-invalid' : '' }}"placeholder="Message"></textarea>
                                            <div id="validationServerUsernameFeedback" class="invalid-feedback">
                                                {{ contactForm.getFirstError('message') }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group button">
                                            <button type="submit" class="btn ">Envoyer le message</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ End Contact Area -->
{% endblock %}
