{% extends 'layouts/main.html.twig' %}

{% block title %}{{ parent() }} - Les articles{% endblock %}

{% block body %}
    <h1>Les derniers articles</h1>

    {#    {{ createRoute("getPostById", post.id) }}#}


                {% for post in posts %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <h2>{{ post.title }}</h2>
                            <small class="badge bg-success">Publié le {{ post.createdAt|date("d/m/Y à h:i") }}</small>
                            <small class="badge bg-success">Publié le {{ post.createdAt|date("d/m/Y à h:i") }}</small>
                            <p>{{ post.content }}<p>
                                <a href="blog/{{ post.id }} " class="btn btn-primary">Lire plus</a>
                        </div>
                    </div>
{#                    <div class="row row-cols-1 row-cols-md-3 g-4">#}

{#                <div class="card">#}
{#                    <img src="..." class="card-img-top" alt="...">#}
{#                    <div class="card-body">#}
{#                        <h5 class="card-title">{{ post.title }}</h5>#}
{#                        <small class="badge bg-info">Publié le {{ post.createdAt|date("d/m/Y") }}</small>#}
{#                        <p class="card-text">{{ post.content }}</p>#}
{#                        <a href="blog/{{ post.id }}" class="btn btn-primary">Lire plus</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            </div>#}
        {% endfor %}




{% endblock %}

{#<div class="card mb-3">#}
{#    <div class="card-body">#}
{#        <h2>{{ post.title }}</h2>#}
{#        <small>{{ post.createdAt|date("d/m/Y") }}</small>#}
{#        <p>{{ post.content }}<p>#}
{#            <a href="blog/{{ post.id }} " class="btn btn-primary">Lire plus</a>#}
{#    </div>#}
{#</div>#}

{#<div class="col">#}
{#    <div class="card">#}
{#        <img src="..." class="card-img-top" alt="...">#}
{#        <div class="card-body">#}
{#            <h5 class="card-title">{{ post.title }}</h5>#}
{#            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#<div class="col">#}
{#    <div class="card">#}
{#        <img src="..." class="card-img-top" alt="...">#}
{#        <div class="card-body">#}
{#            <h5 class="card-title">{{ post.title }}</h5>#}
{#            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#<div class="col">#}
{#    <div class="card">#}
{#        <img src="..." class="card-img-top" alt="...">#}
{#        <div class="card-body">#}
{#            <h5 class="card-title">Card title</h5>#}
{#            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#</div>#}
{#<div class="card" style="width: 18rem;">#}
{#    <img src="..." class="card-img-top" alt="...">#}
{#    <div class="card-body">#}
{#        <h5 class="card-title">{{ post.title }}</h5>#}
{#        <small>{{ post.createdAt|date("d/m/Y") }}</small>#}
{#        <p class="card-text">{{ post.content }}</p>#}
{#        <a href="blog/{{ post.id }}" class="btn btn-primary">Lire plus</a>#}
{#    </div>#}