{% extends 'layouts/main.html.twig' %}

{% block title %} {{ parent() }} - Edition d'un Article{% endblock %}

{% block body %}
    <h1>{{ post.title ?  'Modifier' : 'Ajouter'}} un article</h1>

    <form action="" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Titre de l'article</label>
            <input type="text" class="form-control {{ post.hasError('title') ? ' is-invalid' : '' }}" id="title" name="title" value="{{ post.title ?? '' }}">
            <div id="validationFirstname" class="invalid-feedback">
                {{ post.getFirstError('title') }}
            </div>
        </div>

        <div class="mb-3">
            <label for="content" class="form-label">Contenu</label>
            <textarea class="form-control {{ post.hasError('content') ? ' is-invalid' : '' }}" id="content" name="content">{{ post.content ?? '' }}</textarea>
            <div id="validationFirstname" class="invalid-feedback">
                {{ post.getFirstError('content') }}
            </div>
        </div>

        <div class="mb-3">
            <label for="avatar" class="form-label">Image</label>
            <input type="file" class="form-control" id="image" name="image">
        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>

{% endblock %}
