{% extends 'layouts/main.html.twig' %}


{% block title %} {{ post.title }} - {{ parent() }}{% endblock %}

{% block body %}

    <h1>{{ post.title }}</h1>

{#    {{ post.getAuthorName() }}#}
    <p>{{ post.content }}</p>
{#    {{ dump(post.comments) }}#}

    <h2>Commentaires</h2>

{#    <form action="/blog/{{ article.slug }}/{{ article.id }}/comment" method="post">#}
    <form action="/blog/{{ post.id }}/comment" method="post">
        <div class="mb-3">
            <textarea class="form-control" id="content" name="content"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>

    {% for comment in post.comments %}
        <div class="card mb-3">
            <div class="card-body">
                <p>{{ comment.content }}</p>
                <small class="">Publié le {{ comment.createdAt|date("d/m/Y à h:i") }}</small>
            </div>
        </div>
    {% endfor %}

{% endblock %}
