{% extends 'layouts/main.html.twig' %}

{% import 'layouts/form.html.twig' as form %}

{% block title %} {{ parent() }} - Inscription{% endblock %}

{% block body %}
    {% set errors =  registerForm.errors %}
    <h1>Inscription</h1>

    <form action="" method="post" enctype="multipart/form-data" class="row g-3" novalidate>

                <div class="col-md-6">
                    <label for="firstname" class="form-label">Prenom</label>
                    <input type="text" class="form-control {{ registerForm.hasError('firstname') ? ' is-invalid' : '' }}" id="firstname" name="firstname" value="{{ registerModel.firstname ?? ''}}" required>
                    <div id="validationFirstname" class="invalid-feedback">
                        {{ registerForm.getFirstError('firstname') }}
                    </div>
                </div>

            <div class="col-md-6">
                <label for="lastname" class="form-label">Nom</label>
                <input type="text" class="form-control {{ registerForm.hasError('lastname') ? ' is-invalid' : '' }}" id="lastname" name="lastname" value="{{ registerForm.lastname?? ''}}" required>
                <div id="validationFirstname" class="invalid-feedback">
                    {{ registerForm.getFirstError('lastname') }}
                </div>
            </div>

            <div class="col-12">
                <label for="username" class="form-label">Nom d'utilisateur</label>
                <input type="text" class="form-control {{ registerForm.hasError('username') ? ' is-invalid' : '' }}" id="username" name="username" value = "{{ registerForm.username ?? '' }}" required>
                <div id="validationServerUsernameFeedback" class="invalid-feedback">
                    {{ registerForm.getFirstError('username') }}
                </div>
            </div>

            <div class="col-12">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control {{ registerForm.hasError('email') ? ' is-invalid' : '' }}" id="email" name="email" value = "{{ registerForm.email ?? '' }}" required>
                <div id="validationServerUsernameFeedback" class="invalid-feedback">
                    {{ registerForm.getFirstError('email') }}
                </div>
            </div>

            <div class="col-md-6">
                <label for="password" class="form-label">Mot de passe</label>
                <input type="password" class="form-control {{ registerForm.hasError('password') ? ' is-invalid' : '' }}" id="password" name="password" value = "{{ registerForm.password ?? '' }}" required>
                <div id="validationServerUsernameFeedback" class="invalid-feedback">
                    {{ registerForm.getFirstError('password') }}
                </div>
            </div>

            <div class="col-md-6">
                <label for="confirmationPassword" class="form-label">Confirmation</label>
                <input type="password" class="form-control {{ registerForm.hasError('confirmationPassword') ? ' is-invalid' : '' }}" id="confirmationPassword" name="confirmationPassword" value = "{{ registerForm.confirmationPassword ?? '' }}" required>
                <div id="validationServerUsernameFeedback" class="invalid-feedback">
                    {{ registerForm.getFirstError('confirmationPassword') }}
                </div>
            </div>

            <div class="col-12">
                <label for="avatar" class="form-label">Avatar</label>
                <input type="file" class="form-control" id="avatar" name="avatar">
            </div>
            <br />
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </div>
    </form>
{% endblock %}