{% extends 'layouts/auth_layout.html.twig' %}

{% import 'layouts/form.html.twig' as form %}

{% block title %} {{ parent() }} - Inscription{% endblock %}

{% block body %}
    {% set errors =  registerModel.errors %}
    <h1>Inscription</h1>

    <form action="" method="post" enctype="multipart/form-data" class="row g-3" novalidate>

                <div class="col-md-6">
                    <label for="firstname" class="form-label">Prenom</label>
                    <input type="text" class="form-control {{ registerModel.hasError('firstname') ? ' is-invalid' : '' }}" id="firstname" name="firstname" value="{{ registerModel.firstname ?? ''}}" required>
                    <div id="validationFirstname" class="invalid-feedback">
                        {{ registerModel.getFirstError('firstname') }}
                    </div>
                </div>

            <div class="col-md-6">
                <label for="lastname" class="form-label">Nom</label>
                <input type="text" class="form-control {{ registerModel.hasError('lastname') ? ' is-invalid' : '' }}" id="lastname" name="lastname" value="{{ registerModel.lastname?? ''}}" required>
                <div id="validationFirstname" class="invalid-feedback">
                    {{ registerModel.getFirstError('lastname') }}
                </div>
            </div>

            <div class="col-12">
                <label for="username" class="form-label">Nom d'utilisateur</label>
                <input type="text" class="form-control {{ registerModel.hasError('username') ? ' is-invalid' : '' }}" id="username" name="username" value = "{{ registerModel.username ?? '' }}" required>
                <div id="validationServerUsernameFeedback" class="invalid-feedback">
                    {{ registerModel.getFirstError('username') }}
                </div>
            </div>

            <div class="col-12">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control {{ registerModel.hasError('email') ? ' is-invalid' : '' }}" id="email" name="email" value = "{{ registerModel.email ?? '' }}" required>
                <div id="validationServerUsernameFeedback" class="invalid-feedback">
                    {{ registerModel.getFirstError('email') }}
                </div>
            </div>

            <div class="col-md-6">
                <label for="password" class="form-label">Mot de passe</label>
                <input type="password" class="form-control {{ registerModel.hasError('password') ? ' is-invalid' : '' }}" id="password" name="password" value = "{{ registerModel.password ?? '' }}" required>
                <div id="validationServerUsernameFeedback" class="invalid-feedback">
                    {{ registerModel.getFirstError('password') }}
                </div>
            </div>

            <div class="col-md-6">
                <label for="confirmationPassword" class="form-label">Confirmation</label>
                <input type="password" class="form-control {{ registerModel.hasError('confirmationPassword') ? ' is-invalid' : '' }}" id="confirmationPassword" name="confirmationPassword" value = "{{ registerModel.confirmationPassword ?? '' }}" required>
                <div id="validationServerUsernameFeedback" class="invalid-feedback">
                    {{ registerModel.getFirstError('confirmationPassword') }}
                </div>
            </div>

            <div class="col-12">
                <label for="avatar" class="form-label">Avatar</label>
                <input type="file" class="form-control" id="avatar" name="avatar">
            </div>
            <br />
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </div>
    </form>

    {#            {{ form.inputSemiText('firstname', 'Prenom') }}#}
    {#            {{ form.inputSemiText('lastname', 'Nom') }}#}
    {#            {{ form.inputLongText('username', 'Nom d\'utilisateur') }}#}
    {#            {{ form.inputLongEmail('email', 'Email') }}#}
    {#            {{ form.inputSemiPassword('password', 'Mot de passe') }}#}
    {#            {{ form.inputSemiPassword('confirmationPassword', 'Confirmation') }}#}
    {#            {{ form.inputGenderRadio('gender', 'Genre') }}#}
    {#            {{ form.inputFile('avatar', 'Avatar') }}#}
    {#            <div class="col-sm-2">#}
    {#                <button type="submit" class="btn btn-primary">Envoyer</button>#}
    {#            </div>#}
    {#        </form>#}



    {#    {% if errors %}#}
{#        <ul>#}
{#            {% for attribute,error in errors %}#}
{#                <li>{{ attribute }}</li>#}
{#                {% for value in error %}#}
{#                    <li>{{ value }}</li>#}
{#                {% endfor %}#}
{#            {% endfor %}#}
{#        </ul>#}
{#    {% endif %}#}



{% endblock %}
