{% extends 'layouts/auth_layout.html.twig' %}

{% import 'layouts/form.html.twig' as form %}

{% block title %} {{ parent() }} - Inscription{% endblock %}

{% block body %}
    {{ dump(errors) }}
    <h1>Inscription</h1>
        <form action="" method="post" class="row g-3" novalidate>
            {{ form.inputSemiText('firstname', 'Prenom') }}
            {{ form.inputSemiText('lastname', 'Nom') }}
            {{ form.inputLongText('username', 'Nom d\'utilisateur') }}
            {{ form.inputLongEmail('email', 'Email') }}
            {{ form.inputSemiPassword('password', 'Mot de passe') }}
            {{ form.inputSemiPassword('confirmationPassword', 'Confirmation') }}
            {{ form.inputGenderRadio('gender', 'Genre') }}
            {{ form.inputFile('avatar', 'Avatar') }}
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </div>
        </form>


{#    {% if errors %}#}
{#        <ul>#}
{#            {% for attribute,error in errors %}#}
{#                <li>{{ attribute }}</li>#}
{#                {% for value in error %}#}
{#                    <li>{{ value }}</li>#}
{#                {% endfor %}#}
{#            {% endfor %}#}
{#        </ul>#}
{#    {% endif %}#}




    {#        <div class="row mb-3">#}
{#            <label for="username" class="col-sm-2 col-form-label">Nom d'utilisateur</label>#}
{#            <div class="col-sm-5">#}
{#                <input type="text" class="form-control" id="username">#}
{#            </div>#}
{#        </div>#}
{#        <div class="row mb-3">#}
{#            <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>#}
{#            <div class="col-sm-5">#}
{#                <input type="email" class="form-control" id="inputEmail3">#}
{#            </div>#}
{#        </div>#}
{#        <div class="row mb-3">#}
{#            <label for="inputPassword3" class="col-sm-2 col-form-label">Mot de passe</label>#}
{#            <div class="col-sm-5">#}
{#                <input type="password" class="form-control" id="inputPassword3">#}
{#            </div>#}
{#        </div>#}
{#    <div class="row mb-3">#}
{#        <label for="confirmPassword" class="col-sm-2 col-form-label">Confirmation</label>#}
{#        <div class="col-sm-5">#}
{#            <input type="password" class="form-control" id="confirmPassword">#}
{#        </div>#}
{#    </div>#}
{#        <div class="row mb-3">#}
{#            <label for="inputEmail3" class="col-sm-2 col-form-label">Nom</label>#}
{#            <div class="col-sm-5">#}
{#                <input type="text" class="form-control" id="lastname">#}
{#            </div>#}
{#        </div>#}
{#        <div class="row mb-3">#}
{#            <label for="inputEmail3" class="col-sm-2 col-form-label">Prenom</label>#}
{#            <div class="col-sm-5">#}
{#                <input type="text" class="form-control" id="firstname">#}
{#            </div>#}
{#        </div>#}
{#        <fieldset class="row mb-3">#}
{#            <legend class="col-form-label col-sm-2 pt-0">Genre</legend>#}
{#            <div class="col-sm-10">#}
{#                <div class="form-check">#}
{#                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>#}
{#                    <label class="form-check-label" for="gridRadios1">#}
{#                        Homme#}
{#                    </label>#}
{#                </div>#}
{#                <div class="form-check">#}
{#                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">#}
{#                    <label class="form-check-label" for="gridRadios2">#}
{#                        Femme#}
{#                    </label>#}
{#                </div>#}
{#            </div>#}
{#        </fieldset>#}
{#    <div class="row mb-3">#}
{#        <label for="avatar" class="col-sm-2 col-form-label">Avatar</label>#}
{#        <div class="col-sm-5">#}
{#            <input type="file" class="form-control" id="avatar">#}
{#        </div>#}
{#    </div>#}
{#        <button type="submit" class="btn btn-primary">Envoyer</button>#}

{#    </form>#}

{% endblock %}